<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,248},{84,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,172},{88,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,252},{80,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon14.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,334},{72,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,170},{88,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon16.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,334},{76,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{76,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon17.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,334},{84,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,76}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon21.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,176},{84,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon22.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,92},{88,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{80,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon24.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,420},{72,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon25.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,174},{88,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon26.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,334},{76,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{76,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon27.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,420},{84,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,76}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon31.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,88},{86,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon33.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,420},{82,82}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{82,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{76,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon35.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,84},{88,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon36.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,334},{84,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon37.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,92},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>icon41.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{88,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{92,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{92,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{80,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon44.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{80,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{80,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{96,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon46.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,422},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon47.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{90,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{90,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_pig.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,250},{86,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_shark.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{88,88}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameIcon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3efc3534cc0242907708c1d875ef940:1/1$</string>
            <key>textureFileName</key>
            <string>GameIcon.png</string>
        </dict>
    </dict>
</plist>
