proj.win32/MyGitGame.opensdf
proj.win32/MyGitGame.sdf
proj.win32/Debug.win32/
proj.android/obj/
proj.android/assets/
proj.android/libs/armeabi/libcocos2dlua.so
proj.win32/LuaResource/Debug/LuaResource.lastbuildstate
proj.android/bin/
proj.android/gen/crosslife/MyGitGame/BuildConfig.java
proj.android/gen/crosslife/MyGitGame/R.java
proj.win32/LuaResource/LuaResource.vcxproj.rej
proj.win32/LoveClear.opensdf
proj.win32/LoveClear.sdf
